.wrapper
  = render 'shared/chat-side'

  .main-side
    .main-header
      .main-header__leftbox
        %h2.main-header__leftbox__corrent-group
          = @group.name
        %ul.main-header__leftbox__member-list
          = "Menbers: #{@menbers}"
      .main-header__rightbox
        .main-header__rightbox__edit-btn
          = link_to "Edit", edit_group_path(@group.id),class:"main-header__edit-btn"

    .messages
      = render partial: 'message', collection: @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'