.wrapper
  = render 'shared/chat-side'

  .main-side
    .main-header
      .main-header__leftbox
        %h2.main-header__leftbox__corrent-group
          ユーザーネーム
        %ul.main-header__leftbox__member-list
          メンバー:
          %li.main-header__leftbox__member-list__member
            ユーザーネーム
      .main-header__edit-btn
        Edit

    .messages
      = render @messages
      .messages__datamessage__id
        .messages__upper__info
          %p.messages__upper__info__talker
            ユーザーネーム
          %p.messages__upper__info__date
            日付
        %p.messages__text
          テキスト

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'